{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/bootstrap-multiselect.js') }}" defer></script>
    <script src="{{ asset('js/createProject.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-multiselect.css') }}" type="text/css"/>
    <link href="{{ asset('css/registration.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="flex-column page-section justify-content-center mx-auto mt-5 w-75">
        <div class="alert alert-danger d-none" role="alert" id="errorAlert"></div>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.repo) }}

        <label for="skills" class="h3 ml-4 mb-0">Compétences :</label>
        <div class="input-group">
            <input id="skills" type="text" class="form-control" name="skills">
            <div class="input-group-append">
                <button id="skillsbtn" class="btn btn-primary" style="border-radius: 0 0.5rem 0.5rem 0;"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div id="skills_display" class="mt-2 card">
            <ul class="list-group list-group-flush">
            </ul>
        </div>

        <label for="jobsSelect" class="h3 ml-4 mb-0">Métiers :</label>
        <div>
            <select id="jobsSelect" name="jobs" multiple style="visibility: hidden;">

            </select>
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-5" id="submitbtn">Créer</button>
        {{ form_end(form) }}
        <div class="modal" tabindex="-1" role="dialog" id="successmodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Succès</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Un email de confirmation vous a bien été envoyé. veuillez cliquer sur le lien présent dans ce mail pour activer votre compte</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}