{% extends 'base.html.twig' %}

{% block title %}Signalement{% endblock %}

{% block body %}
    <div class="flex-column page-section justify-content-center mx-auto mt-5 w-75">
        {% if not reportForm.vars.valid %}
            <div class="alert alert-danger">
                {# Loop through every form item #}
                {% for child in reportForm.children %}
                    {# Display the errors of the form item #}
                    {%for error in child.vars.errors%}
                        {{error.message}}
                    {%endfor%}
                {%endfor%}
            </div>
        {%endif%}
        {{ form_start(reportForm) }}
        {{ form_row(reportForm.reason) }}
        {{ form_label(reportForm.description) }}
        {{ form_widget(reportForm.description) }}
        <button type="submit" class="btn btn-primary w-100 mt-5" id="submitbtn">Signaler</button>
        {{ form_end(reportForm) }}
    </div>
{% endblock %}
